@import '../../core.scss';

.stay-safe {
  width: 100%;
  height: auto;
}

.stay-safe-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-up(lg) {
    padding-left: 48px;
    padding-right: 48px;
  }

}