
.event__section-rsvp {
  height: 250vh;
  /* Landscape */
  .is-landscape & {
      height: 300vh;

      .event__background {
        height: 300vh;
        img {
          height: 300vh !important;
        }
      }
  }

  .event__background {
    height: 250vh;
    img {
      height: 250vh !important;
    }
  }
}