
.event__section-rsvp {
  height: 200vh;
  /* Landscape */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 991px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      height: 250vh;

      .event__background {
        height: 250vh;
      }
  }
}