
.type-bold-12 {
  font-size: 12px;
  font-weight: 700;
}

.type-bold-16 {
  font-size: 16px;
  font-weight: 700;
}

.type-bold-18 {
  font-size: 18px;
  font-weight: 700;
}

.type-bold-24 {
  font-size: 24px;
  font-weight: 700;
}

.type-bold-36 {
  font-size: 36px;
  font-weight: 700;
}

.type-bold-48 {
  font-size: 48px;
  font-weight: 700;
}

.type-bold-60 {
  font-size: 60px;
  font-weight: 700;
}

.type-bold-72 {
  font-size: 72px;
  font-weight: 700;
}

// normal text
.type-normal-12 {
  font-size: 12px;
  font-weight: 400;
}

.type-normal-16 {
  font-size: 16px;
  font-weight: 400;
}

.type-normal-18 {
  font-size: 18px;
  font-weight: 400;
}

.type-normal-24 {
  font-size: 24px;
  font-weight: 400;
}

.type-normal-36 {
  font-size: 36px;
  font-weight: 400;
}

.type-normal-48 {
  font-size: 48px;
  font-weight: 400;
}

.type-normal-60 {
  font-size: 60px;
  font-weight: 400;
}

.type-normal-72 {
  font-size: 72px;
  font-weight: 400;
}