@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url(/src/styles/fonts/Pacifico-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-BlackItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(/src/styles/fonts/Rubik-SemiBoldItalic.ttf) format('truetype');
}
